In [ ]:
import pandas as pd
import numpy as np

# Chapter 1: Common Data Problems

## Data type contstraints

In [ ]:
ride_sharing = pd.read_csv('ride_sharing_new.csv')
ride_sharing.head()

In [ ]:
# grab the type of each column
ride_sharing.dtypes

In [ ]:
# grab multiple info (class, total entries, missing values, columns etc)
ride_sharing.info()

In [ ]:
# grab summary statistics of all numeric columns but some variables are not really numerical
ride_sharing.describe()

### Convert int to category datatype

In [ ]:
# before converstion, the datatype is int
ride_sharing['user_type']

In [ ]:
# user_type is not a numerical variable, summary statistics here are misleading. Convert the type to category.
ride_sharing['user_type'].describe()

In [ ]:
# convert the column from int to category datatype.
ride_sharing['user_type_cat'] = ride_sharing['user_type'].astype('category')

In [ ]:
# confirmation: assertion error if condition not satisfied
assert ride_sharing['user_type_cat'].dtype == 'category'

In [ ]:
# confirmation
ride_sharing['user_type_cat'].dtype

In [ ]:
# makes more sense now as compared to before
ride_sharing['user_type_cat'].describe()

### Strip and then convert str to int

In [ ]:
# the dtype is object/string.
ride_sharing['duration']

In [ ]:
# first, strip minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].str.strip('minutes')
ride_sharing['duration_trim']

In [ ]:
# now convert str to int
ride_sharing['duration_time'] = ride_sharing['duration_trim'].astype('int')
ride_sharing['duration_time']

In [ ]:
# confirm through assertation
assert ride_sharing['duration_time'].dtype == 'int'

In [ ]:
# second confirmation
ride_sharing['duration_time'].dtype

In [ ]:
ride_sharing[['duration', 'duration_trim', 'duration_time']]

In [ ]:
# this statistic is correct after conversion
ride_sharing['duration_time'].mean()

## Data range constraints

* Variable, tire_sizes, is unavailable in my data frame. But all slides in this section fully understood. Also, the code copied below from exercises.

In [ ]:
# Convert tire_sizes to integer
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing['tire_sizes'] > 27, 'tire_sizes'] = 27

# Reconvert tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')

# Print tire size description
print(ride_sharing['tire_sizes'].describe())

* Variable, ride_date, is unavailable in my data frame. But all slides in this section fully understood. Also, the code copied below from exercises.

In [ ]:
# Convert ride_date to date: pd.to_date coverts ride_date column to datetime object, which is then converted to date through 
# dt.date
ride_sharing['ride_dt'] = pd.to_datetime(ride_sharing['ride_date']).dt.date

# Save today's date
today = dt.date.today()

# Set all in the future to today's date
ride_sharing.loc[ride_sharing['ride_dt'] > today, 'ride_dt'] = today

# Print maximum of ride_dt column
print(ride_sharing['ride_dt'].max())

## Uniqueness constraints/Handling duplicates

* Variable, ride_id, is unavailable in my data frame. But all slides in this section fully understood. Also, the code copied below from exercises.
* Note: duplicated() with no arguments return non-first complete duplicates (where all columns match)

In [ ]:
# Find duplicated rows of ride_id in the ride_sharing DataFrame while setting keep to False
duplicates = ride_sharing.duplicated(subset='ride_id', keep = False)

# Subset ride_sharing on duplicates and sort by ride_id and assign the results to duplicated_rides
duplicated_rides = ride_sharing[duplicates].sort_values(by = 'ride_id')

# Print the ride_id, duration and user_birth_year columns of duplicated_rides in that order
print(duplicated_rides[['ride_id','duration','user_birth_year']])

In [ ]:
# Drop complete duplicates in ride_sharing and store the results in ride_dup. drop_duplicates() drops complete duplicates.
ride_dup = ride_sharing.drop_duplicates()
print(ride_dup)

# Create the statistics dictionary which holds minimum aggregation for user_birth_year and mean aggregation for duration
statistics = {'user_birth_year': 'min', 'duration': 'mean'}

# Drop incomplete duplicates by grouping by ride_id and applying the aggregation in statistics. This method removes duplicate rows
# after performing aggregate statistics, so index is reset to avoid gaps in it.
ride_unique = ride_dup.groupby(by = 'ride_id').agg(statistics).reset_index()
print(ride_unique)

# Find duplicates again and run the assert statement to verify de-duplication
duplicates = ride_unique.duplicated(subset = 'ride_id', keep = False)
print(duplicates)                                                                           # contains all False now
duplicated_rides = ride_unique[duplicates == True]
print(duplicated_rides)                                                                     # returns empty data frame
print(duplicated_rides.shape)

# Assert duplicates are processed
assert duplicated_rides.shape[0] == 0                                # the empty data frame has columns but zero rows

# Chapter 2

## Membership constraints
* Required data are unavailable. Understood slides. Code copied from the exercises below.

In [ ]:
# Print the categories DataFrame and take a close look at all possible correct categories of the survey columns
print(categories)

# Print the unique values of the survey columns in airlines using the .unique() method
print('Cleanliness: ', airlines['cleanliness'].unique(), "\n")
print('Safety: ', airlines['safety'].unique(), "\n")
print('Satisfaction: ', airlines['satisfaction'].unique(), "\n")

In [ ]:
# Create a set out of the cleanliness column in airlines using set() and find the inconsistent category by finding the difference 
# in the cleanliness column of categories. set(airlines['cleanliness']) creates a set of unique values in this column. Then, the
# difference() method returns those values in the set which do not exist in cleanliness column in categories data frame (left anti
# join).
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])
print(cat_clean)

# Find rows of airlines with a cleanliness value not in categories and print the output. Returns a boolean series of True/False
cat_clean_rows = airlines['cleanliness'].isin(cat_clean)
print(cat_clean_rows)

# Print rows with inconsistent category. Prints all the rows for True cases.
print(airlines[cat_clean_rows])

# Print rows with consistent categories only. Due to ~, all the True cases becomes False, and False cases becomes True and then 
# all the rows for True cases are printed.
print(airlines[~cat_clean_rows])

## Categorical Variables
* Required data are available. Exercises are solved below

In [ ]:
airlines = pd.read_csv('airlines_final.csv')
airlines.head()

In [ ]:
# Print the unique values in dest_region and dest_size respectively
airlines['dest_region'].unique(), airlines['dest_size'].unique()

In [ ]:
# Change the capitalization of all values of dest_region to lowercase
airlines['dest_region'] = airlines['dest_region'].str.lower()
airlines['dest_region'].unique()

In [ ]:
# Replace the 'eur' with 'europe' in dest_region using the .replace() method
mapping = {'eur':'europe'}
airlines['dest_region'] = airlines['dest_region'].replace(mapping)
airlines['dest_region'].unique()

In [ ]:
# Strip white spaces from the dest_size column using the .strip() method. With no argument given, strip removes all leading and trailing spaces.
airlines['dest_size'] = airlines['dest_size'].str.strip()
airlines['dest_size'].unique()

In [ ]:
# Create the ranges and labels for the wait_type column mentioned in the description
label_ranges = [0, 60, 180, np.inf]                                                # create an integer list of cut-off values
label_names = ['short', 'medium', 'long']

In [ ]:
# Create the wait_type column by from wait_min by using pd.cut(), while inputting label_ranges and label_names in the correct arguments
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = label_ranges, labels = label_names)
print(airlines[['wait_type', 'wait_min']])

In [ ]:
# Create the mapping dictionary mapping weekdays to 'weekday' and weekend days to 'weekend'
mapping = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday':'weekday', 'Thursday':'weekday', 'Friday':'weekday', 'Saturday':'weekend', \
          'Sunday':'weekend'}

# Create the day_week column by using .replace()
airlines['day_week'] = airlines['day'].replace(mapping)

print(airlines[['day_week', 'day']])

In [ ]:
airlines['day'].unique()

## Cleaning text data
* Required data are unavailable. Understood slides. Code copied from the exercises below.

In [ ]:
# Remove "Dr.", "Mr.", "Miss" and "Ms." from full_name by replacing them with an empty string "" in that order

airlines['full_name'] = airlines['full_name'].str.replace('Dr.',"")

airlines['full_name'] = airlines['full_name'].str.replace('Mr.', "")

airlines['full_name'] = airlines['full_name'].str.replace('Miss', "")

airlines['full_name'] = airlines['full_name'].str.replace('Ms.', "")

# Run the assert statement using .str.contains() that tests whether full_name still contains any of the honorifics
assert airlines['full_name'].str.contains('Ms.|Mr.|Miss|Dr.').any() == False
print(airlines.head())

In [ ]:
# Using the airlines DataFrame, store the length of each instance in the survey_response column in resp_length by using .str.len()
resp_length = airlines['survey_response'].str.len()
print(resp_length)

# Isolate the rows of airlines with resp_length higher than 40
airlines_survey = airlines[resp_length > 40]
print(airlines_survey)

# Assert that the smallest survey_response length in airlines_survey is now bigger than 40
assert airlines_survey['survey_response'].str.len().min() > 40

# Print new survey_response column
print(airlines_survey['survey_response'])

# Chapter 3

## Uniformity in units
* Required data are unavailable. Understood slides. Code copied from the exercises below.

In [ ]:
# Find the rows of acct_cur in banking that are equal to 'euro' and store them in the variable acct_eu
acct_eu = banking['acct_cur'] == 'euro'
print(acct_eu)

# Find all the rows of acct_amount in banking that fit the acct_eu condition, and convert them to USD by multiplying them with 1.1
banking.loc[acct_eu, 'acct_amount'] = banking.loc[acct_eu, 'acct_amount'] * 1.1

# Find all the rows of acct_cur in banking that fit the acct_eu condition, set them to 'dollar'
banking.loc[acct_eu, 'acct_cur'] = 'dollar'

# Assert that only dollar currency remains
assert banking['acct_cur'].unique() == 'dollar'

In [ ]:
# Print the header of account_opened
print(banking['account_opened'].head())

# onvert the account_opened column to datetime, while making sure the date format is inferred and that erroneous formats that raise error return
# a missing value
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Infer datetime format
                                           infer_datetime_format = True,
                                           # Return missing value for error
                                           errors = 'coerce')

In [ ]:
# Extract the year from the amended account_opened column and assign it to the acct_year column
banking['acct_year'] = banking['account_opened'].dt.strftime('%Y')

# Print the newly created acct_year column
print(banking['acct_year'])

## Cross field validation
* Age variable is not correct. For instance, first person should be 60 years old and not 58. Same problem with all other age entries as well. Understood slides. Code copied from the exercises below.

In [ ]:
# Find the rows where the sum of all rows of the fund_columns in banking are equal to the inv_amount column
fund_columns = ['fund_A', 'fund_B', 'fund_C', 'fund_D']
print(fund_columns)
# Find rows where fund_columns row sum == inv_amount
inv_equ = banking[fund_columns].sum(axis=1) == banking['inv_amount']
print(inv_equ)

# Store the values of banking with consistent inv_amount in consistent_inv, and those with inconsistent ones in inconsistent_inv
consistent_inv = banking[inv_equ]
inconsistent_inv = banking[~inv_equ]

# Show the number of rows in inconsistent_inv
print("Number of inconsistent investments: ", inconsistent_inv.shape[0])

In [ ]:
# Store today's date into today, and manually calculate customers' ages and store them in ages_manual
today = dt.date.today()
print(today.year)
ages_manual = today.year - banking['birth_date'].dt.year
print(ages_manual)

# Find all rows of banking where the age column is equal to ages_manual and then filter banking into consistent_ages and inconsistent_ages
age_equ = banking['age'] == ages_manual
print(age_equ)
consistent_ages = banking[age_equ]
inconsistent_ages = banking[~age_equ]

# Show the number of rows in inconsistent_inv
print("Number of inconsistent ages: ", inconsistent_ages.shape[0])

    
# NOTE: EXTRA INFO: convert 'birth_date' column from object/string to datetime first.
banking['birth_date'] = pd.to_datetime(banking['birth_date'])

## Completeness (Missing data)
* The required data are unavailable. Slides understood. Code copied from exercises below.

In [ ]:
# Print the number of missing values by column in the banking DataFrame
print(banking.isna().sum())

# Plot and show the missingness matrix of banking with the msno.matrix() function
msno.matrix(banking)
plt.show()

In [ ]:
# Isolate the values of banking missing values of inv_amount into missing_investors and with non-missing inv_amount values into investors
missing_investors = banking[banking['inv_amount'].isna()]
investors = banking[~banking['inv_amount'].isna()]

In [ ]:
# Now that you've isolated banking into investors and missing_investors, use the .describe() method on both of these DataFrames in the IPython
# shell to understand whether there are structural differences between them. What do you think is going on?
# Answer: The inv_amount is missing only for young customers, since the average age in missing_investors is 22 and the maximum age is 25
investors.describe()
missing_investors.describe()

In [ ]:
# Sort the banking DataFrame by the age column and plot the missingness matrix of banking_sorted
banking_sorted = banking.sort_values(by = 'age')
print(banking_sorted)
msno.matrix(banking_sorted)
plt.show()

In [ ]:
# In this exercise, you're working with another version of the banking DataFrame that contains missing values for both the cust_id column and the 
# acct_amount column. You want to produce analysis on how many unique customers the bank has, the average amount held by customers and more. You 
# know that rows with missing cust_id don't really help you, and that on average acct_amount is usually 5 times the amount of inv_amount. 
# In this exercise, you will drop rows of banking with missing cust_ids, and impute missing values of acct_amount with some domain knowledge.

# Use .dropna() to drop missing values of the cust_id column in banking and store the results in banking_fullid
banking_fullid = banking.dropna(subset = ['cust_id'])
print(banking_fullid)

# Use inv_amount to compute the estimated account amounts for banking_fullid by setting the amounts equal to inv_amount * 5, and assign the results
# to acct_imp
acct_imp = banking_fullid['inv_amount'] * 5
print(acct_imp)

# Impute the missing values of acct_amount in banking_fullid with the newly created acct_imp using .fillna()
banking_imputed = banking_fullid.fillna({'acct_amount':acct_imp})
print(banking_imputed)

# Print number of missing values
print(banking_imputed.isna().sum())

# Chapter 4

## Comparing strings
* I have not checked availability of the data. Slides understood. Code from the exercies copied below.

In [ ]:
# Import process from thefuzz
from thefuzz import process

# Store the unique values of cuisine_type in unique_types
unique_types = restaurants['cuisine_type'].unique()

# Calculate similarity of 'asian' to all values of unique_types
print(process.extract('asian', unique_types, limit = len(unique_types)))

# Calculate similarity of 'american' to all values of unique_types
print(process.extract('american', unique_types, limit = len(unique_types)))

# Calculate similarity of 'italian' to all values of unique_types
print(process.extract('italian', unique_types, limit = len(unique_types)))

In [ ]:
Return all of the unique values in the cuisine_type column of restaurants
print(restaurants['cuisine_type'].unique())

# Okay! Looks like you will need to use some string matching to correct these misspellings!
# As a first step, create a list of all possible matches, comparing 'italian' with the restaurant types listed in the cuisine_type column
matches = process.extract('italian', restaurants['cuisine_type'], limit=restaurants.shape[0])

# Inspect the first 5 matches
print(matches[0:5])

# Now you're getting somewhere! Now you can iterate through matches to reassign similar entries

# Within the for loop, use an if statement to check whether the similarity score in each match is greater than or equal to 80
# If it is, use .loc to select rows where cuisine_type in restaurants is equal to the current match (which is the first element of match), and 
# reassign them to be 'italian'
for match in matches:
  # Check whether the similarity score is greater than or equal to 80
  if match[1] >= 80:
    # Select all rows where the cuisine_type is spelled this way, and set them to   the correct cuisine
    restaurants.loc[restaurants['cuisine_type']==match[0], 'cuisine_type']='italian'
    
# Finally, you'll adapt your code to work with every restaurant type in categories. Categories = ['italian', 'asian', 'american']
# Using the variable cuisine to iterate through categories, embed your code from the previous step in an outer for loop
for cuisine in categories:  
  # Create a list of matches, comparing cuisine with the cuisine_type column
  matches = process.extract(cuisine, restaurants['cuisine_type'], limit=restaurants.shape[0])

  # Iterate through the list of matches
  for match in matches:
     # Check whether the similarity score is greater than or equal to 80
    if match[1] >= 80:
      # If it is, select all rows where the cuisine_type is spelled this way, and set them to the correct cuisine
      restaurants.loc[restaurants['cuisine_type'] == match[0]] = cuisine

# Inspect the final result      
print(restaurants['cuisine_type'].unique())

## Generating pairs
* I have not checked availability of the data. Slides understood. Code from the exercies copied below.

In [ ]:
# In the last lesson, you cleaned the restaurants dataset to make it ready for building a restaurants recommendation engine. You have a new 
# DataFrame named restaurants_new with new restaurants to train your model on, that's been scraped from a new data source. You've already cleaned 
# the cuisine_type and city columns using the techniques learned throughout the course. However you saw duplicates with typos in restaurants names 
# that require record linkage instead of joins with restaurants. In this exercise, you will perform the first step in record linkage and generate 
# possible pairs of rows between restaurants and restaurants_new. Both DataFrames, pandas and recordlinkage are in your environment.

# Instantiate an indexing object by using the Index() function from recordlinkage
indexer = recordlinkage.Index()

# Block your pairing on cuisine_type by using indexer's' .block() method
indexer.block('cuisine_type')

# Generate pairs by indexing restaurants and restaurants_new in that order
pairs = indexer.index(restaurants, restaurants_new)
print(pairs)

In [ ]:
# In the last exercise, you generated pairs between restaurants and restaurants_new in an effort to cleanly merge both DataFrames using record 
# linkage.
# When performing record linkage, there are different types of matching you can perform between different columns of your DataFrames, including 
# exact matches, string similarities, and more.

# Instantiate a comparison object using the recordlinkage.Compare() function.
comp_cl = recordlinkage.Compare()

# Use the appropriate comp_cl method to find exact matches between the city and cuisine_type columns of both DataFrames. 
comp_cl.exact('city', 'city', label='city')
comp_cl.exact('cuisine_type', 'cuisine_type', label = 'cuisine_type')

# Use the appropriate comp_cl method to find similar strings with a 0.8 similarity threshold in the rest_name column of both DataFrames.
comp_cl.string('rest_name', 'rest_name', label='name', threshold = 0.8) 

# Compute the comparison of the pairs by using the .compute() method of comp_cl.
potential_matches = comp_cl.compute(pairs, restaurants, restaurants_new)
print(potential_matches)

## Linking DataFrames
* I have not checked availability of the data. Slides understood. Code from the exercies copied below.

In [ ]:
# In the last lesson, you've finished the bulk of the work on your effort to link restaurants and restaurants_new. You've generated the different 
# pairs of potentially matching rows, searched for exact matches between the cuisine_type and city columns, but compared for similar strings in the
# rest_name column. You stored the DataFrame containing the scores in potential_matches.
# Now it's finally time to link both DataFrames. You will do so by first extracting all row indices of restaurants_new that are matching across the
# columns mentioned above from potential_matches. Then you will subset restaurants_new on these indices, then append the non-duplicate values to 
# restaurants. All DataFrames are in your environment, alongside pandas imported as pd.

# Isolate instances of potential_matches where the row sum is above or equal to 3 by using the .sum() method.
matches = potential_matches[potential_matches.sum(axis=1) >= 3]
print(matches)

# Extract the second column index from matches, which represents row indices of matching record from restaurants_new by using the 
# .get_level_values() method.
matching_indices = matches.index.get_level_values(1)
print(matching_indices)

# Subset restaurants_new based on non-duplicate values. Or, Subset restaurants_new for rows that are not in matching_indices.
non_dup = restaurants_new[~restaurants_new.index.isin(matching_indices)]
print(non_dup)

# Append non_dup to restaurants
full_restaurants = restaurants.append(non_dup)
print(full_restaurants)

# The End